@page
@model Fluxera.HttpStatusCodes.Pages.Errors.NotFoundModel
@{
	ViewData["Title"] = "Page Not Found";
}

<div class="hero introduction">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<markdown markdown="@(this.Model.PageContent.Markdown)" />
			</div>
		</div>
	</div>
</div>
